node_modules/
.env
playwright-report/
test-results/
dist/
node_modules/
test-results/
playwright-report/
/.env*
/cypress.env.json
.DS_Store
Thumbs.db

node_modules/
test-results/
playwright-report/
cypress.env.json
.env

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
